*.7z*
utilities/download_smashgg/download/*
game_id_request.json
utilities/txt_to_config_json/*.txt
utilities/txt_to_config_json/*.json
utilities/get_icons_from_spriters_resource/download/*
utilities/pplus_source/*
utilities/txt_to_config_json/blank_files/*
utilities/generate_game_list/*.txt
games/*/*/*/*.psd
games/*/*/*.psd
utilities/get_icons_from_bulbapedia/pkmn/*
utilities/get_icons_from_bulbapedia/serebii/*
utilities/get_icons_from_bulbapedia/_list.json
utilities/get_icons_from_tekken7/*.html
utilities/get_icons_from_tekken7/download
utilities/get_icons_from_tekken7/Tekken 7*
utilities/generate_eyesights_dict/*.json
