*.7z*
utilities/download_smashgg/download/*
game_id_request.json
utilities/txt_to_config_json/*.txt
utilities/txt_to_config_json/*.json
utilities/get_icons_from_spriters_resource/download/*
utilities/pplus_source/*
utilities/txt_to_config_json/blank_files/*
utilities/generate_game_list/*.txt
games/*/*/*/*.psd
games/*/*/*.psd
