*.7z*
utilities/download_smashgg/download/*
game_id_request.json
utilities/txt_to_config_json/*.txt
utilities/txt_to_config_json/*.json
utilities/get_icons_from_spriters_resource/download/*
utilities/pplus_source/*
utilities/txt_to_config_json/blank_files/*
utilities/generate_game_list/*.txt
utilities/generate_game_list/characters/*.txt
utilities/generate_game_list/*.zip
games/*/*/*/*.psd
games/*/*/*.psd
utilities/get_icons_from_bulbapedia/pkmn/*
utilities/get_icons_from_bulbapedia/serebii/*
utilities/get_icons_from_bulbapedia/punite/*
utilities/get_icons_from_bulbapedia/_unite_pkmn_list.*
utilities/get_icons_from_bulbapedia/_list.json
utilities/get_icons_from_tekken7/*.html
utilities/get_icons_from_tekken7/download
utilities/get_icons_from_tekken7/Tekken 7*
utilities/generate_eyesights_dict/*.json
node_modules
build
utilities/generate_sound_pack/*.json
utilities/generate_sound_pack/sound/*
utilities/generate_sound_pack/archive/*
games/*/sound.json
utilities/vf4_fix_alpha/*.png
utilities/get_icons_from_inkipedia/spl3/*
utilities/convert_webp_to_png/out/*
utilities/convert_webp_to_png/source/*
utilities/translate_pokemon_names/source/*
*.bak
utilities/mass_update/*.json
utilities/sf6_pixel_art_restore/sf6/*
*.zip
utilities/download_mk_costumes/mk1/*
*/desktop.ini
scripts/csv/*.csv