[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pillow = "*"
pillow-avif-plugin = "*"
igdb-api-v4 = "*"
pandas = "*"
odfpy = "*"
caseutil = "*"

[dev-packages]

[requires]
python_version = "3.*"
