.sf6 .player.container {
  top: 10px;
  height: 48px;
  width: 480px;
  transform: skewX(35deg);
  border-radius: calc(var(--border-radius) / 2);
  padding: 0px 16px;
}

.sf6 .p2.player.container > div:not(.score) {
  transform: skewX(35deg);
}

.sf6 .p1.player.container > div:not(.score) {
  transform: skewX(-35deg);
}

.sf6 .p1.container {
  left: 248px;
}

.sf6 .p2.container {
  transform: skewX(-35deg);
  right: 248px;
}

.sf6 .chips {
  top: 106px;
  height: 32px;
}

.sf6.offline .chips {
  width: 450px;
}

.sf6.online .chips {
  width: 270px;
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
}

.sf6.online .p1.chips {
  transform: skewX(35deg);
}

.sf6.online .p2.chips {
  transform: skewX(-35deg);
}

.sf6 .chip {
  height: 32px;
}

.sf6.online .p1.chips {
  left: 200px;
  justify-content: left;
}

.sf6.offline .p1.chips {
  left: 8px;
  justify-content: left;
}

.sf6.online .p2.chips {
  left: unset;
  right: 200px;
  justify-content: right;
}

.sf6.offline .p2.chips {
  left: unset;
  right: 8px;
  justify-content: right;
}

.sf6.online .seed {
  position: absolute;
  top: 106px;
}

.sf6.online .p1 .seed {
  left: -16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sf6.online .p2 .seed {
  left: unset;
  right: -16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sf6 .chip .text:not(.text_empty) {
  padding-left: 16px;
  padding-right: 16px;
}

.sf6 .chip .text {
  background: none;
  position: relative;
}

.sf6.offline .chip .text:not(.text_empty)::before {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: 100%;
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
  transform: skewX(35deg);
  content: " ";
  z-index: -999;
}

.sf6.offline .p2 .chip .text:not(.text_empty)::before {
  transform: skewX(-35deg);
}

.sf6 .chip .text:not(.text_empty) {
  font-size: 20px;
  height: 100%;
}

.sf6.online .seed.chip .text:not(.text_empty) {
  margin: 0;
  border-radius: 0;
  width: 140px;
}

.sf6.online .p1 .chip {
  transform: skewX(-35deg);
}

.sf6.online .p2 .chip {
  transform: skewX(35deg);
}

.sf6.online .p1 .seed.chip {
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
  transform: skewX(35deg);
}

.sf6.online .p2 .seed.chip {
  background: var(--bg-color);
  border-radius: calc(var(--border-radius) / 4);
  transform: skewX(-35deg);
}

.sf6.online .p1 .seed.chip .text {
  transform: skewX(-35deg);
}

.sf6.online .p2 .seed.chip .text {
  transform: skewX(35deg);
}

.sf6 .name_twitter .name {
  width: 100%;
  font-size: 30px;
}

.sf6 .p1 .name_twitter, .sf6 .p1 .score > .text {
  transform: skewX(-35deg);
}

.sf6 .p2 .name_twitter, .sf6 .p2 .score > .text {
  transform: skewX(35deg);
}

.sf6 .logo {
  width: 80px;
  height: 80px;
  top: 924px;
}

.sf6 .tournament_name {
  height: unset;
  font-size: 24px;
}

.sf6 .info.container.top {
  background: unset;
  overflow: visible;
  justify-content: center;
  padding: 0 42px;
  width: 470px;
  top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 28px;
}

.sf6 .phase {
  font-size: 20px;
  letter-spacing: 2px;
}

.sf6 .match {
  font-size: 26px;
  letter-spacing: 2px;
}

.sf6 .info.container.bottom {
  border-radius: calc(var(--border-radius) / 2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: unset;
  bottom: 0;
  width: 400px;
  height: 64px;
  background: unset;
  overflow: visible;
  padding: 0 42px;
  justify-content: center;
}

.sf6 .icon div:not(.text) {
  height: 34px;
  width: 34px;
}

.sf6 .sponsor_icon {
  position: absolute;
  right: 90px;
  z-index: -999;
  opacity: 0.6;
}

.sf6 .p2 .sponsor_icon {
  right: unset;
  left: 90px;
}

.sf6 .sponsor_icon > div > div {
  width: 100px;
  height: 100px;
}

.sf6 .score {
  font-size: 34px;
}

.sf6 .p1 .score {
  margin-right: -16px;
  margin-left: 16px;
}

.sf6 .p2 .score {
  margin-left: -16px;
  margin-right: 16px;
}

.sf6 .top_bg_1 {
  transform: skewX(35deg);
}

.sf6 .top_bg_2 {
  transform: skewX(-35deg);
}

.sf6 .bottom_bg_1 {
  transform: skewX(35deg);
}

.sf6 .bottom_bg_2 {
  transform: skewX(-35deg);
}