[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chinese-converter = "*"
beautifulsoup4 = "*"
requests = "*"
pillow = "*"
requests-html = "*"
lxml-html-clean = "*"

[dev-packages]

[requires]
python_version = "*"
